.sign-in {
  width: 34vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
